/*
    IlluminAI CSS
    depends on Bootstrap and main ATON CSS

==========================================*/

/*
    Variabili globali
*/
:root {
    --illuminai-ui-margin: 8px;

    --illuminai-dock-btn-size: 50px;
}

/*
    IlluminAI classes (illuminai-*) 
*/
.illuminai-dock-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.illuminai-dock {
    display: inline-block;
    margin: var(--illuminai-ui-margin);

    pointer-events: initial;
    
    background-color: rgba(var(--bs-body-bg-rgb), 0.7) !important;
    border-radius: 20px;
    padding: 4px;

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));
}

.illuminai-dock-btn {
    height: var(--illuminai-dock-btn-size);
    width: var(--illuminai-dock-btn-size);
    border-radius: 20px;

    padding: 4px;
}

.illuminai-dock-btn:hover {
    background-color: rgba(var(--aton-colors-accent-rgb), 0.2) !important;
}

.illuminai-dock-btn img {
    width: 100%;
    height: 100%;
}