/*
    IlluminAI CSS
    depends on Bootstrap and main ATON CSS

==========================================*/

/*
    Variabili globali
*/
:root {
    --illuminai-ui-margin: 8px;

    --illuminai-dock-btn-size: 50px;
}

/*
    IlluminAI classes (illuminai-*) 
*/
.illuminai-dock-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.illuminai-dock {
    display: inline-block;
    margin: var(--illuminai-ui-margin);

    pointer-events: initial;
    
    background-color: rgba(var(--bs-body-bg-rgb), 0.7) !important;
    border-radius: 20px;
    padding: 4px;

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));
}

.illuminai-dock-btn {
    height: var(--illuminai-dock-btn-size);
    width: var(--illuminai-dock-btn-size);
    border-radius: 20px;

    padding: 4px;
}

.illuminai-dock-btn:hover {
    background-color: rgba(var(--aton-colors-accent-rgb), 0.2) !important;
}

.illuminai-dock-btn img {
    width: 100%;
    height: 100%;
}

/*   
    PoweredBy - ATON 
*/ 
.aton-poweredby {
    position: fixed;
    bottom: 10px;
    right: auto !important;
    left: 20px !important;
    font-size: 12px;
    font-family: sans-serif;
}

/*   
    INFO Page 
*/
.info-container {
    text-align: center;
    margin: 8px;
}

.info-title {
    font-size: 1.2rem;
    display: block;
    margin-top: 10px;
    color: whitesmoke;
}

.info-divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

.info-description {
    display: block;
    text-align: center;
    line-height: 1.5;
    color: whitesmoke;
}

.info-btn {
    padding: 15px 50px;
    background: #00cc00;
    color: black;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,255,0,0.3);
    transition: 0.3s;
}

.info-btn:hover {
    background-color: #00ff00;
    transform: scale(1.05);
}

/* ############################################################################ */
/*  WELCOME Page */
/* Cluster Dropdown *********************/

.dropdown-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 5px auto 30px auto; 
    width: 100%;
    text-align: center;
}

.dropdown-label {
    display: block; 
    margin-bottom: 15px; 
    font-weight: bold; 
    font-size: 1.2rem; 
    color: #333;
    text-align: center;
}

.dropdown-select {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    width: 80%; 
    max-width: 450px; 
    font-size: 1.1rem; 
    font-weight: 600;
    text-align: center;
    text-align-last: center;
    border: 2px solid #007bff; 
    border-radius: 10px;
    background-color: #f2eaea;
    color: #333;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1)t;
    height: auto;
}

/* VR and AR Bottoms *********************/
/*.filter-modal-separator {
    border: none;
    border-top: 1px solid #7a7777;
    margin: 20px 8px 10px 8px;
    opacity: 0.7;
}*/

.modal-buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    width: 100%;
}

.btn-vr-rect {
    border-radius: 4px;
    background-color: #656a6d;/*#0076a3*/
    color: #ffffff;
    padding: 15px 50px;
    height: auto;
}

.btn-vr-rect:hover {
    background-color: #0093cc;
}

.btn-ar-rect {
    border-radius: 4px;
    background-color: #656a6d;/*#2e7d32*/
    color: #ffffff;
    padding: 15px 50px;
    height: auto;
}

.btn-ar-rect:hover {
    background-color: #388e3c;
}
/* ############################################################################ */

/* 
    SIDEBAR - Filters 
*/

.filter-block-title {
    margin: 15px 0 8px 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase; 
    letter-spacing: 0.5px;
}

.filter-block-separator {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #948f8f;
    opacity: 0.7;
}

/* 
    SIDEBAR - Centuries (Comprimibile)
*/

.filter-collapsible-summary {
    cursor: pointer;
    list-style: none; /* Rimuove la freccia predefinita del browser su Chrome/Firefox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

/* Rimuove la freccia predefinita del browser su Safari */
.filter-collapsible-summary::-webkit-details-marker {
    display: none;
}
/* Freccia personalizzata */
.filter-collapsible-summary::after {
    content: '➔'; /* Oppure'▼'*/
    display: inline-block;
    font-size: 10px;
    transform: rotate(90deg); /* Verso il basso da chiuso */
    transition: transform 0.2s ease;
    color: #888888;
}

/* Ruota la freccia da aperto */
.filter-collapsible[open] .filter-collapsible-summary::after {
    transform: rotate(-90deg); /* Punta verso l'alto (o a sinistra) quando è aperto */
}

/* Spaziatura quando si espande */
.filter-collapsible[open] > div {
    margin-top: 10px;
}
